.cv-education
    margin-top: 1em


.cv-education__item
    margin-bottom: 2em

.cv-education__date 
    font-size: 1.2em
    font-weight: bold

.cv-education__item ul 
    margin-left: 1em

    li
        display: block
        margin-top: .7em



