.cv-experiences__all-jobs__job
    margin-bottom: 2rem

    &:last-child
        margin-bottom: 0

    +desktop-up
        margin-bottom: 3em


.cv-experiences__all-jobs__job ul li
    margin-bottom: .5em

    +desktop-up
        margin-bottom: .9em

    &:last-child
        margin-bottom: 0


.cv-experiences__job__heading
    font-size: 1.2em 
    font-weight: bold
    color: $fuschia
    text-decoration: underline


.cv-experiences__job__position
    font-size: 1.05em
    font-weight: bold

    +desktop-up
        font-size: 1.15em

.cv-experiences__job__about
    font-size: 1em
    line-height: 1.5

    +desktop-up
        font-size: 1.1em
        line-height: 1.65


.cv-experiences__job__stack 
    display: flex
    flex-wrap: wrap

    .stack-item
        background-color: $light-purple
        color: white
        margin-right: .5rem
        padding: .5rem
        white-space: nowrap
        margin-top: .5rem
        font-weight: bold
        border-radius: 3px
        font-size: .75em
        letter-spacing: .2px

        +desktop-up
            font-size: .9em
