
.cv-header__logo
    font-size: 2.2em
    font-family: $logo-font
    font-weight: bold
    background-color: $black
    color: white
    display: inline-block
    padding: 0rem 1rem
    line-height: normal
    text-shadow: 2px 0 $fuschia, -2px 0 $blue

    +desktop-up
        font-size: 4em
        text-shadow: 3px 0 $fuschia, -3px 0 $blue
        margin-bottom: 2rem


.cv-header__about
    list-style: none
    padding-top: 1.3em

    +desktop-up
        padding-top: 0


.cv-header__about__item
    display: flex
    margin-bottom: .5em
    align-items: center

    i 
        +size(16px)

    span
        margin-left: 8px
        font-size: 1.05em

        a
            font-weight: bold
            color: $light-purple
            text-decoration: underline

    +desktop-up

        i 
            +size(19px)

        span
            font-size: 1.2em