@import '../utils'
@import './_header'
@import './_blurb'
@import './_open-source'

.cv-container
    margin: 0 auto
    font-family: $text-font

    +desktop-up
        max-width: 50em
        padding: 2em 0


.cv-heading
    +desktop-up
        font-size: 2em
        margin-bottom: 2rem
        text-decoration: underline
        color: $black