.home__blurb
    margin: 2em 0
    

.home__blurb__content
    max-width: 50em
    

.home__blurb__content p
    font-family: $text-font
    font-size: 1.2em
    line-height: 1.9

    strong
        color: $turquoise