.projects
    margin: 2em 0
    font-family: $text-font


.projects__title
    color: white
    display: inline-block
    font-weight: 700
    font-size: 1.3em
    margin-bottom: 1.5rem

    +desktop-up
        padding: .25rem .5rem
        font-size: 1.5em


.projects__container
    max-width: 50em 


.projects__list__project
    margin-bottom: 1.5em


.project__name
    $color: $yellow
    font-weight: bold
    text-decoration: underline
    color: $color
    font-size: 1.25em
    transition: color .2s ease-out

    +desktop-up
        font-size: 1.39em


    &:hover
        color: darken($color, 4%)


.project__description
    font-size: 1.1em
    line-height: 1.6

    +desktop-up
        font-size: 1.2em


.projects__cta
    $color: $fuschia
    font-style: italic
    margin-top: 1em
    font-size: 1.1em
    line-height: 1.7
    
    a
        color: $color
        font-weight: bold
        transition: color .2s ease-out

        &:hover
            color: darken($color, 4%)