@import '../utils'

.projects
    padding: 2em 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-family: $text-font
    background: $light-gray

    +iphone678-landscape
        padding: 3em 0

    +ipad
        padding: 3em 0

    +ipad-landscape
        padding: 4em 0

    +desktop-up
        height: 100vh
        padding: 0


.projects__title
    color: $black
    text-decoration: underline
    font-size: 1.5em
    line-height: 1.6
    margin-bottom: 1.5rem

    +iphone678-landscape
        font-size: 1.5em
        line-height: 1.6
        margin-bottom: 1.5rem

    +ipad
        font-size: 1.6em
        line-height: 1
        margin-bottom: 1.5rem

    +ipad-landscape
        font-size: 2.2em
        line-height: 1
        margin-bottom: 2.5rem

    +desktop-up
        font-size: 3em
        margin-bottom: 3rem


.projects__container
    max-width: 85%
    margin: 0 auto

    +iphone678-landscape
        max-width: 90%

    +ipad
        max-width: 90%

    +ipad-landscape
        max-width: 54em

    +desktop-up
        max-width: 57em
        width: 100%


.projects__list
    list-style: none


.projects__list__project
    margin-bottom: 1.5em
    color: $black

    +iphone678-landscape
        margin-bottom: 1.5em

    +ipad
        margin-bottom: 1.5rem

    +ipad-landscape
        margin-bottom: 1.7rem

    +desktop-up
        margin-bottom: 2em

    &:last-child
        margin-bottom: 0


.project__name
    $color: $link-blue
    font-size: 1.39em
    font-weight: bold
    text-decoration: underline
    color: $color
    transition: color .2s ease-out

    &:hover
        color: darken($color, 4%)

    +iphone678-landscape
        font-size: 1.39em

    +ipad
        font-size: 1.4em

    +ipad-landscape
        font-size: 1.5em

    +desktop-up
        font-size: 2em


.project__description
    font-size: 1.1em
    line-height: 1.6

    +iphone678-landscape
        font-size: 1.1em

    +ipad
        font-size: 1.1em

    +ipad-landscape
        font-size: 1.15em

    +desktop-up
        font-size: 1.2em
        line-height: 1.8


.projects__cta
    $color: $fuschia
    font-style: italic
    margin-top: 1em
    font-size: 1.1em
    line-height: 1.7
    
    a
        color: $color
        font-weight: bold
        transition: color .2s ease-out

        &:hover
            color: darken($color, 4%)

    +iphone678-landscape
        font-size: 1.1em

    +ipad
        margin-top: 1em
        font-size: 1.1em
        line-height: 1.5

    +ipad-landscape
        margin-top: 1.5em
        font-size: 1.14em
        line-height: 1

    +desktop-up
        margin-top: 1.5em
        font-size: 1.25em
        line-height: 1