@import '../utils'


footer
    padding: 2em 0
    background: $black
    color: white


.footer__container
    max-width: 57em
    width: 100%
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    font-family: $text-font
    font-size: 1.2em
    position: relative


.footer__logo
    font-size: 3em
    font-weight: bold
    font-family: $logo-font
    position: relative
    text-shadow: 2.5px 0 $fuschia, -2.5px 0 $blue