.home__header-splash
    height: 100vh
    background-color: #121110
    color: white
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center


.home__header-splash__container
    max-width: 80%
    width: 100%
    margin: 0 auto


.home__header-splash__logo
    text-align: center
    font-size: 22em


.home__header-splash__tagline
    font-size: 1.4em
    font-family: monospace
    font-weight: bold
    background: hotpink
    color: white
    padding: .2em
    text-align: right