.post-content
    max-width: 50em 


.post-content__post

    margin-top: 2rem

    h2, h3, h4, h5, h6
        margin-bottom: 1.2rem
        font-size: 2em
        font-weight: 700

    em 
        color: $yellow

    pre
        margin: 2em 0
    

    p
        font-size: 1.2em
        margin-bottom: 2rem
        line-height: 1.6

    a
        color: $turquoise
        font-weight: bold
        text-decoration: underline

    ol
        padding-left: 3em


    ul, ol
        margin: 2rem 0

        li 
            font-size: 1.2em
            margin-bottom: 1.5rem
            line-height: 1.6

    ul 
        list-style: none
        padding-left: 1em

        li::before
            content: "* "